body {
  font-family: 'Patrick Hand', cursive;

  background-color: rgba(105,105,105, .2)
}

.bg-dark, footer{
  background-color: #c02960 !important;
  color: white;
}

.logo {
  background-color: white
}
.footer {
  position: sticky;
  bottom: 0;
  width: 100%
}

footer a {
  color: white;
}
footer p {
  margin-bottom: 0;
  font-size: .5em
}

.card{
  border: 1px solid #1fcecb;
}

.featured {
  border: 1px solid #c02960;
}
