body {
  font-family: 'Amatic SC', cursive;
}

.bg-dark, footer{
  background-color: #c02960 !important;
  color: white;
}

.fab, .far {
  color: white;
}

footer a {
  color: white;
}
footer p {
  margin-bottom: 0;
  font-size: .5em
}


/* #brand-begin{
  font-family: 'Amatic SC', cursive;
  font-size: 4.25em;
}

#brand-middle {
  font-family: 'Yesteryear', cursive;
  font-size: 4em;
  color: black;
}

#brand-end {
  font-size: 1em
} */
img {
  /* width:33% */
}

.img-row {
  /* border: 2px solid gray; */
}
