body {
  font-family: 'Amatic SC', cursive;
}

.bg-dark {
  background-color: #c02960 !important;;
}


/* #brand-begin{
  font-family: 'Amatic SC', cursive;
  font-size: 4.25em;
}

#brand-middle {
  font-family: 'Yesteryear', cursive;
  font-size: 4em;
  color: black;
}

#brand-end {
  font-size: 1em
} */
img {
  /* width:33% */
}

.img-row {
  /* border: 2px solid gray; */
}
